---
---

body {
  margin: 0;
}

header {
  min-height: 50px;
  background: lightcyan;
}

footer {
  min-height: 50px;
  background: PapayaWhip;
}

nav ul div {
  line-height: 8px
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: white;
  font-size: 14px;
}

nav ul li a.todo {
  color: pink;
  font-size: 14px;
}

@import "{{ site.theme }}";
